#key{
	/*position: relative;
	padding-bottom: 40vw;
	&:before{
		position: absolute;
		content: "";
		background: #f0f7fe;
		bottom: 0;
		left: 0;
		right: 0;
		height: 65vw;
	}*/
	position: relative;
	/*margin: 60px 0;*/
	//width: 600px;
	width: calc(100% - 280px);
	order: 1;
	&:after{
		background: none;
		top: 0;
		bottom: 100%;
	}
	.swiper-slide{
		img{
			width: 100%;
			height: auto;
		}
	}
	.swiper-container{
		-webkit-transition-delay: -0.3s;
    	transition-delay: -0.3s;
	}
	.slider-left{
		width: 150px;
		position: absolute;
		top: 90px;
		right: calc(50% + 150px);
		width: 100px;
			top: 65px;
			right: calc(50% + 110px);
		border-radius: 50%;
		-webkit-filter: blur(2px);
		filter: blur(2px);
		-webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		overflow: hidden;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
		z-index: 2;
		&:before{
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 0;
			-webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
			transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
			-webkit-transform-origin: bottom;
			transform-origin: bottom;
			-webkit-transition-delay: .5s;
			transition-delay: .5s;
			z-index: 3;
			background: #ffff;
		}
	}
	.slider-center{
		width: 250px;
		width: 180px;
		margin: 0 auto;
		-webkit-box-shadow: 20px 20px 30px 0px rgba(29,93,156,0.3);
		-moz-box-shadow: 20px 20px 30px 0px rgba(29,93,156,0.3);
		box-shadow: 20px 20px 30px 0px rgba(29,93,156,0.3);
		position: relative;
		background: #b9cee4;
		border-radius: 50%;
		-webkit-filter: blur(2px);
		filter: blur(2px);
		-webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		overflow: hidden;
		&:before{
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 0;
			-webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
			transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
			-webkit-transform-origin: bottom;
			transform-origin: bottom;
			-webkit-transition-delay: .5s;
			transition-delay: .5s;
			z-index: 3;
			background: #ffff;
		}
	}
	.slider-right{
		width: 150px;
		position: absolute;
		top: 50px;
		left: calc(50% + 150px);
		width: 100px;
			top: 40px;
			left: calc(50% + 110px);
		border-radius: 50%;
		-webkit-filter: blur(2px);
		filter: blur(2px);
		-webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		overflow: hidden;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
		z-index: 2;
		&:before{
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 0;
			-webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
			transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
			-webkit-transform-origin: bottom;
			transform-origin: bottom;
			-webkit-transition-delay: .5s;
			transition-delay: .5s;
			z-index: 3;
			background: #ffff;
		}
	}
}
#key.on{
	.slider-left{
		-webkit-filter: blur(0);
    	filter: blur(0);
		&:before{
			bottom: 100%;
		}
	}
	.slider-center{
		-webkit-filter: blur(0);
    	filter: blur(0);
		&:before{
			bottom: 100%;
		}
	}
	.slider-right{
		-webkit-filter: blur(0);
    	filter: blur(0);
		&:before{
			bottom: 100%;
		}
	}
}
header{
	padding: 20px 0;
	border-bottom: 50px solid #246bda;
	background-image: linear-gradient(to right, rgba(240,247,254,0), rgba(240,247,254,1));
	.df{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.nav-fixed{
		color: #fff;
		font-size: 16px;
		line-height: 1.6;
		font-weight: bold;
		li{
			margin: 0 20px;
			&:hover{
				opacity: 0.6;
				a{
					text-decoration: none;
				}
			}
		}
		.active{
			opacity: 0.6;
		}
	}
	.row{
		/*padding: 10px 0 20px 0;*/
		margin: auto 0 0 0;
	}
}
h2.name{
	font-size: 30px;
	line-height: 1.6;
	font-weight: bold;
	color: #246bda;
}
h3.position{
	font-size: 20px;
	line-height: 1.6;
	font-weight: bold;
	font-style: italic;
}
footer{
	background: #246bda;
	color: #fff;
	font-weight: bold;
	padding: 20px 0;
}
section{
	padding: 20px 0;
	.row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		.left{
			width: 38%;
		}
		.right{
			width: 60%;
		}
	}
	h2{
		font-size: 18px;
		line-height: 1.6;
		font-weight: bold;
		color: #246bda;
		margin: 0 0 10px 0;
		text-transform: uppercase;
		border-bottom: 2px solid;
	}
	.info{
		margin-top: 20px;
	}
	dl{
		display: table;
		background: #EBF5FB;
		color: #21618C;
		width: 100%;
		box-sizing: border-box;
		font-weight: bold;
		border-radius: 5px;
		dt{
			display: table-cell;
			font-weight: bold;
			width: 25px;
			background: #D6EAF8;
			text-align: center;
			padding: 10px;
			vertical-align: middle;
			border-radius: 5px;
			/*font-size: 30px;*/
			i{
				transition: all 0.1s linear 0.05s;
			}
		}
		dd{
			display: table-cell;
			padding: 10px;
			box-sizing: border-box;
			font-weight: bold;
			/*font-size: 20px;*/
		}
		&:hover{
			opacity: 0.8;
			dt{
				i{
					transform: scale(1.1);
				}
			}
		}
	}
	dl:nth-child(2){
		background: #D6EAF8;
		dt{
			background: #AED6F1;
		}
	}
	dl:nth-child(3){
		background: #AED6F1;
		dt{
			background: #85C1E9;
		}
	}
	dl:nth-child(4){
		background: #85C1E9;
		dt{
			background: #5DADE2;
		}
	}
	dl:nth-child(5){
		background: #5DADE2;
		dt{
			background: #3498DB;
		}
	}
	.pb20{
		padding-bottom: 20px;
	}
	ul.df{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		font-size: 12px;
		li{
			width: 120px;
			height: 120px;
			border-radius: 50%;
			background: #21618C;
			color: #fff;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			margin: 10px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				border: 2px solid #21618C;
				top: -4px;
				left: -4px;
				right: -4px;
				bottom: -4px;
				border-radius: 50%;
				transition: all 0.1s linear 0.05s;
			}
			span{
				align-items: center;
				margin: auto;
				transition: all 0.1s linear 0.05s;
			}
			i{
				display: block;
				font-size: 30px;
				margin: 0 auto 10px auto;
			}
			&:hover{
				&:before{
					transform: scale(1.04);
					opacity: 0.5;
				}
				span{
					transform: scale(1.1);
				}
			}
		}
	}
	.list-item{
		.item{
			padding: 10px 0 0 0;
			transition: all 1s ease;
			.line{
				height: 5px;
				width: 100%;
				background: #eee;
				margin: 5px 0;
				position: relative;
				&:before{
					position: absolute;
					content: "";
					background: #246bda;
					top: 0;
					left: 0;
					bottom: 0;
					width: 0;
					transition: all 1s ease;
				}
				&:hover{
					opacity: 0.8;
				}
			}
		}
		.item[style*='visibility: visible']:nth-child(1){
			.line{
				&:before{
					width: 80%;
				}
			}
		}
		/*.item[style*='visibility: visible']:nth-child(2){
			.line{
				&:before{
					width: 40%;
				}
			}
		}*/
		.item[style*='visibility: visible']:nth-child(2){
			.line{
				&:before{
					width: 80%;
				}
			}
		}
		.item[style*='visibility: visible']:nth-child(3){
			.line{
				&:before{
					width: 80%;
				}
			}
		}
		.item[style*='visibility: visible']:nth-child(4){
			.line{
				&:before{
					width: 60%;
				}
			}
		}
		.item[style*='visibility: visible']:nth-child(5){
			.line{
				&:before{
					width: 50%;
				}
			}
		}
		.item[style*='visibility: visible']:hover{
			.line{
				&:before{
					width: 100%;
				}
			}
		}
	}
	.list{
		.item{
			padding-bottom: 10px;
			.time{
				text-align: right;
				color: #246bda;
				position: relative;
				margin-bottom: 5px;
				&:before{
					position: absolute;
					content: "";
					background: #ddd;
					width: 0;
					height: 1px;
					top: 0;
					left: 0;
					bottom: 0;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					margin: auto;
					transition: all 1s ease;
				}
				&:after{
					position: absolute;
					content: "";
					background: #ddd;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					top: 0;
					left: 0;
					bottom: 0;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					margin: auto 0;
				}
				span{
					display: inline-block;
					background: #fff;
					position: relative;
					z-index: 1;
					padding: 0 0 0 10px;
				}
			}
			.school, .company{
				font-weight: bold;
			}
			.major,.position{
				color: #246bda;
			}
		}
		.item:last-child{
			padding-bottom: 0;
		}
		.item[style*='visibility: visible']{
			.time{
				&:before{
					width: 100%;
				}
			}
		}
	}
}
/*@media only screen and (max-width: 999px){
	#key{
		width: calc(100% - 220px);
		.slider-left{
			width: 23%;
			top: 35%;
			right: 73%;
		}
		.slider-center{
			width: 40%;
		}
		.slider-right{
			width: 23%;
			top: 20%;
			left: 73%;
		}
	}
}*/
@media only screen and (max-width: 767px) {
	#key{
		width: 100%;
		order: 0;
		margin-bottom: 20px;
	}
	section{
		.row{
			flex-wrap: wrap;
			.left{
				width: 100%;
			}
			.right{
				width: 100%;
			}
		}
	}
}

