#key {
  position: relative;
  width: calc(100% - 280px);
  order: 1;
}

#key:after {
  background: none;
  top: 0;
  bottom: 100%;
}

#key .swiper-slide img {
  width: 100%;
  height: auto;
}

#key .swiper-container {
  -webkit-transition-delay: -0.3s;
  transition-delay: -0.3s;
}

#key .slider-left {
  width: 150px;
  position: absolute;
  top: 90px;
  right: calc(50% + 150px);
  width: 100px;
  top: 65px;
  right: calc(50% + 110px);
  border-radius: 50%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  overflow: hidden;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  z-index: 2;
}

#key .slider-left:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  z-index: 3;
  background: #ffff;
}

#key .slider-left:after {
  position: absolute;
  content: "";
  border: 2px dotted #fff;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  z-index: 1;
}

#key .slider-center {
  width: 250px;
  width: 180px;
  margin: 0 auto;
  -webkit-box-shadow: 20px 20px 30px 0px rgba(29, 93, 156, 0.3);
  -moz-box-shadow: 20px 20px 30px 0px rgba(29, 93, 156, 0.3);
  box-shadow: 20px 20px 30px 0px rgba(29, 93, 156, 0.3);
  position: relative;
  background: #b9cee4;
  border-radius: 50%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  overflow: hidden;
}

#key .slider-center:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  z-index: 3;
  background: #ffff;
}

#key .slider-center:after {
  position: absolute;
  content: "";
  border: 2px dotted #fff;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  z-index: 1;
}

#key .slider-right {
  width: 150px;
  position: absolute;
  top: 50px;
  left: calc(50% + 150px);
  width: 100px;
  top: 40px;
  left: calc(50% + 110px);
  border-radius: 50%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  overflow: hidden;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  z-index: 2;
}

#key .slider-right:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  z-index: 3;
  background: #ffff;
}

#key .slider-right:after {
  position: absolute;
  content: "";
  border: 2px dotted #fff;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  z-index: 1;
}

#key.on .slider-left {
  -webkit-filter: blur(0);
  filter: blur(0);
}

#key.on .slider-left:before {
  bottom: 100%;
}

#key.on .slider-center {
  -webkit-filter: blur(0);
  filter: blur(0);
}

#key.on .slider-center:before {
  bottom: 100%;
}

#key.on .slider-right {
  -webkit-filter: blur(0);
  filter: blur(0);
}

#key.on .slider-right:before {
  bottom: 100%;
}

header {
  padding: 20px 0;
  border-bottom: 50px solid #246bda;
  background-image: linear-gradient(to right, rgba(240, 247, 254, 0), #f0f7fe);
}

header .df {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .nav-fixed {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}

header .nav-fixed li {
  margin: 0 20px;
}

header .nav-fixed li:hover {
  opacity: 0.6;
}

header .nav-fixed li:hover a {
  text-decoration: none;
}

header .nav-fixed .active {
  opacity: 0.6;
}

header .row {
  margin: auto 0 0 0;
  height: 80px;
}

h2.name {
  font-size: 30px;
  line-height: 1.6;
  font-weight: bold;
  color: #246bda;
}

h3.position {
  font-size: 20px;
  line-height: 1.6;
  font-weight: bold;
  font-style: italic;
}

footer {
  background: #246bda;
  color: #fff;
  font-weight: bold;
  padding: 20px 0;
}

section {
  padding: 20px 0;
}

section .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

section .row .left {
  width: 38%;
}

section .row .right {
  width: 60%;
}

section h2 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
  color: #246bda;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  border-bottom: 2px solid;
}

section .info {
  margin-top: 20px;
}

section dl {
  display: table;
  background: #EBF5FB;
  color: #21618C;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 5px;
}

section dl dt {
  display: table-cell;
  font-weight: bold;
  width: 25px;
  background: #D6EAF8;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  border-radius: 5px;
}

section dl dt i {
  transition: all 0.1s linear 0.05s;
}

section dl dd {
  display: table-cell;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
}

section dl:hover {
  opacity: 0.8;
}

section dl:hover dt i {
  transform: scale(1.1);
}

section dl:nth-child(2) {
  background: #D6EAF8;
}

section dl:nth-child(2) dt {
  background: #AED6F1;
}

section dl:nth-child(3) {
  background: #AED6F1;
}

section dl:nth-child(3) dt {
  background: #85C1E9;
}

section dl:nth-child(4) {
  background: #85C1E9;
}

section dl:nth-child(4) dt {
  background: #5DADE2;
}

section dl:nth-child(5) {
  background: #5DADE2;
}

section dl:nth-child(5) dt {
  background: #3498DB;
}

section dl:nth-child(6) {
  background: #3498DB;
}

section dl:nth-child(6) dt {
  background: #2E86C1;
}
section .pb20 {
  padding-bottom: 20px;
}

section .mb10 {
  margin-bottom: 10px;
}

section .mb20 {
  margin-bottom: 20px;
}

section ul.df {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 12px;
}

section ul.df li {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #21618C;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

section ul.df li:before {
  position: absolute;
  content: "";
  border: 2px solid #21618C;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 50%;
  transition: all 0.1s linear 0.05s;
}

section ul.df li span {
  align-items: center;
  margin: auto;
  transition: all 0.1s linear 0.05s;
  height: 57px;
}

section ul.df li i {
  display: block;
  font-size: 30px;
  margin: 0 auto 10px auto;
}

section ul.df li:hover:before {
  transform: scale(1.04);
  opacity: 0.5;
}

section ul.df li:hover span {
  transform: scale(1.1);
}

section .list-item .item {
  padding: 10px 0 0 0;
  transition: all 1s ease;
}

section .list-item .item .line {
  height: 5px;
  width: 100%;
  background: #eee;
  margin: 5px 0;
  position: relative;
  overflow: hidden;
}

section .list-item .item .line span {
  background: #246bda;
  transition: all 1s ease;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
}

section .list-item .item[style*='visibility: hidden'] .line span {
  width: 0% !important;
}

section .list-item .item .line:hover {
  opacity: 0.8;
}

section .list-item .item[style*='visibility: visible']:hover .line span {
  width: 100%!important;
}

section .list .item {
  padding-bottom: 10px;
}

section .list .item .time {
  text-align: right;
  color: #246bda;
  position: relative;
  margin-bottom: 5px;
}

section .list .item .time:before {
  position: absolute;
  content: "";
  background: #ddd;
  width: 0;
  height: 1px;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin: auto;
  transition: all 1s ease;
}

section .list .item .time:after {
  position: absolute;
  content: "";
  background: #ddd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin: auto 0;
}

section .list .item .time span {
  display: inline-block;
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 0 0 0 10px;
}

section .list .item .school,
section .list .item .company,
section .list .item .product, 
section .list .item .name {
  font-weight: bold;
}

section .list .item .major,
section .list .item .position,
section .list .item .link-product {
  color: #246bda;
}

section .list .item:last-child {
  padding-bottom: 0;
}

section .list .item[style*='visibility: visible'] .time:before {
  width: 100%;
}
.btn-cus{
  background: #246bda;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.btn-cus:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #21618C;
  transition: width 0.2s linear 0.1s;
  width: 0;
}
.btn-cus:hover:before{
  width: 100%;
}
.btn-cus a{
  color: #fff;
  display: block;
  padding: 5px 10px;
  position:relative;
}
.btn-cus a:hover{
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  #key {
    width: 100%;
    order: 0;
    margin-bottom: 20px;
  }

  section .row {
    flex-wrap: wrap;
  }

  section .row .left {
    width: 100%;
  }

  section .row .right {
    width: 100%;
  }
}